:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark-1: #111827;
    --color-dark-2: #242A38;
    --color-dark-3: #333D4C;
    --color-dark-4: #343D4A;
    --color-dark-5: #1D2735;
    --color-dark-6: #251E2B;
    --color-gray-1: #cdccce;
    --color-gray-2: #cdced0;
    --color-gray-3: #959CA7;
    --color-gray-4: #9CA3AF;
    --color-gray-5: #4E5562;
    --color-gray-6: #343A47;
    --color-gray-border: rgb(74, 74, 74);
    --color-primary: #d85151;
    --color-primary-dark: #C92D2D;
    --color-accent-1: #3D7A81;
    --color-yellow: yellow;
    --color-star: #FC9231;
    --color-hover-dark: #3F4856;
}

.logo span {
    color: var(--color-white);
}
.logo h2 {
    color: var(--color-white);
}
header {
    background-color: var(--color-dark-1);
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.4);
}
header nav ul li a {
    color: var(--color-gray-1);
}
header nav ul li a:hover {
    background-color: var(--color-dark-2);
    color: var(--color-white);
}
header .btns button {
    background-color: var(--color-dark-1);
}
header .btns button i {
    color: var(--color-white);
}
header .btns a {
    color: var(--color-white);
}
header .btns a.joinPro {
    background-color: var(--color-primary);
}
header .btns a.joinPro:hover {
    background-color: var(--color-primary-dark);
}
main section.hero {
    background-color: var(--color-accent-1);
}
main section.hero h1 {
    color: var(--color-white);
}
main section.hero form {
    background-color: var(--color-white);
}
main section.hero form div {
    background-color: var(--color-yellow);
}
main section.hero form > input {
    background-color: var(--color-primary);
    color: var(--color-white);
}
main section.hero form > input:hover {
    background-color: var(--color-primary-dark);
}
main section.hero .popularSearch a {
    color: var(--color-white);
    border: var(--color-white) 1px solid;
}
main section.hero .popularSearch a:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}
.secHeader {
    color: var(--color-white);
}
.secHeader a {
    color: var(--color-white);
}
main section.pageContent {
    background-color: var(--color-dark-1);
}
main section.pageContent .secContent .item a {
    color: var(--color-white);
}
main section.pageContent .secContent .item a .icon {
    background-color: var(--color-dark-3);
}
main section.popularProjects {
    background-color: var(--color-dark-1);
}
main section.popularProjects .banner {
    background-color: var(--color-dark-5);
}
main section.popularProjects .banner .text h3 {
    color: var(--color-white);
}
main section.popularProjects .banner .text p {
    color: var(--color-gray-3);
}
main section.popularProjects .banner .text h3 a {
    color: var(--color-white);
}
main section.popularProjects .banner .image {
    background-color: var(--color-dark-4);
}
main section.popularProjects .projectGrid .secContent .project a .projectText {
    color: var(--color-white);
}
.fa-star {
    color: var(--color-star);
}
main section.popularHomeProjects {
    background-color: var(--color-dark-1);
}
main section.popularHomeProjects .secContent .project {
    background-color: var(--color-dark-1);
    border: var(--color-gray-border) 1px solid;
}
main section.popularHomeProjects .secContent .project a .poster h3 {
    color: var(--color-white);
}
main section.popularHomeProjects .secContent .project a .text {
    color: var(--color-white);
}
main section.popularHomeProjects .secContent .project a .text button {
    background-color: var(--color-dark-1);
    border: var(--color-white) 1px solid;
    color: var(--color-white);
}
main section.popularHomeProjects .secContent .project a .text button:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}
main section.expertAdvice {
    background-color: var(--color-dark-5);
}
main section.expertAdvice .secContent article .text a {
    color: var(--color-white);
}
main section.expertAdvice .secContent article .text a .tag {
    background-color: var(--color-dark-3);
}
main section.howItWorks {
    background-color: var(--color-dark-1);
}
main section.howItWorks .heading h2 {
    color: var(--color-white);
}
main section.howItWorks .heading p {
    color: var(--color-gray-2);
}
main section.howItWorks .articles article {
    color: var(--color-white);
}
main section.howItWorks .articles article .tex p {
    color: var(--color-gray-2);
}
main section.becomeAPro .left {
    background-color: var(--color-accent-1);
}
main section.becomeAPro .left h2 {
    color: var(--color-white);
}
a.addBusiness {
    background-color: var(--color-primary);
    color: var(--color-white);
}
a.addBusiness:hover {
    background-color: var(--color-primary-dark);
}
a.learnMore {
    color: var(--color-white);
    border: var(--color-white) 1px solid;
}
a.learnMore:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}
main section.getApp {
    background-color: var(--color-dark-1);
}
main section.getApp .adWrapper {
    background-color: var(--color-dark-6);
}
main section.getApp .adWrapper .left .text h2 {
    color: var(--color-white);
}
main section.getApp .adWrapper .left .text p {
    color: var(--color-gray-2);
}
.appBtn {
    background-color: var(--color-dark-3);
    color: var(--color-white);
}
.appBtn:hover {
    background-color: var(--color-hover-dark);
}
main section.commonPricing {
    background-color: var(--color-dark-1);
}
main section.commonPricing .secContent article a {
    border: var(--color-gray-6) 1px solid;
}
main section.commonPricing .secContent article a .text {
    color: var(--color-white);
}
main section.commonPricing .secContent article a .text button {
    background-color: var(--color-dark-1);
    color: var(--color-white);
    border: 1px solid var(--color-white);
}
main section.commonPricing .secContent article a .text button:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}
footer {
    background-color: var(--color-dark-1);
    border-top: 1px solid var(--color-gray-6);
}
footer .upper {
    border-bottom: 1px solid var(--color-gray-6);
}
footer .upper .left {
    color: var(--color-white);
}
footer .upper .left button {
    background-color: var(--color-primary);
    color: var(--color-white);
}
footer .upper .left button:hover {
    background-color: var(--color-primary-dark);
}
footer .upper .right {
    color: var(--color-gray-4);
}
footer .upper .right span a {
    color: var(--color-white);
}
footer .middle .social p {
    color: var(--color-gray-4);
}
footer .middle .social .socialBtns a {
    background-color: var(--color-dark-3);
    color: var(--color-white);
}
footer .middle .social .socialBtns a:hover {
    background-color: var(--color-gray-5);
}
footer .middle .links .popularCategories h6 {
    color: var(--color-white);
}
footer .middle .links .popularCategories .lists ul li a {
    color: var(--color-gray-4);
}
footer .middle .links .popularCategories .lists ul li a:hover {
    color: var(--color-white);
}
footer .middle .links .company h6 {
    color: var(--color-white);
}
footer .middle .links .company ul li a {
    color: var(--color-gray-4);
}
footer .middle .links .company ul li a:hover {
    color: var(--color-white);
}
